<div class="cookie-banner">
    <div id="cookie-bar-text" class="cookie-bar-text">{{ texts.-3906a27 }}</div>
    <div class="cookie-button-wrapper">
      <a id="cookie-consent-button" data-w-id="37cead3a-931a-76b9-b42b-926101a230ff" href="{{ links.23 }}" class="cookie-consent w-button">{{ texts.72baa908 }}</a>
      <a href="{{ links.618fe506 }}" class="cookie-consent w-button">{{ texts.318af39f }}</a>
    </div>
  </div>