<div class="simple-footer wf-section">
    <div class="new-container">
      <div class="div-block-6 w-clearfix">
        <a href="{{ links.618fe506 }}" class="link-2 privacy">{{ texts.-3fbde6f6 }}</a>
        <p class="bottom-footer-paragraph"><strong data-new-link="true" class="bold-text">{{ texts.-6946ef24 }}</strong></p>
        <div class="div-block-7">
          <a href="{{ links.45b2ada2 }}" target="_blank" class="footer-social-icon w-inline-block">{%- image images.-48df9f8b.url, images.-48df9f8b.alt, '[]', 'class="footer-small-social-icon"' -%}</a>
          <a href="{{ links.6c54eb2f }}" target="_blank" class="footer-social-icon w-inline-block">{%- image images.-29dca4cc.url, images.-29dca4cc.alt, '[]', 'class="footer-small-social-icon"' -%}</a>
          <a href="{{ links.-6e675e26 }}" target="_blank" class="footer-social-icon last w-inline-block">{%- image images.-687d1104.url, images.-687d1104.alt, '[]', 'class="footer-small-social-icon"' -%}</a>
        </div>
      </div>
    </div>
  </div>