<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar white w-nav">
    <div class="wf-section">
      <div class="new-container">
        <div class="div-block-5">
          <a href="{{ links.2f }}" class="logo-block w-nav-brand">{%- image images.719cd082.url, images.719cd082.alt, '[]', 'data-w-id="58d03a33-1ecf-cddc-3c5a-3f0f86ae0848" class="logo fixed tablet"' -%}</a>
          <nav role="navigation" class="nav-menu w-nav-menu">
            <div data-w-id="b4517743-a401-5468-6e37-7df6a4f338ce" class="button-2">
              <div class="button-t">{{ texts.21ecdf }}</div>
              <div class="button-cover"></div>
              <a href="{{ links.2f }}" class="button-link-cover w-inline-block"></a>
            </div>
            <div data-w-id="b4517743-a401-5468-6e37-7df6a4f338d3" class="button-2">
              <div class="button-t">{{ texts.9e30cc3 }}</div>
              <div class="button-cover"></div>
              <a href="{{ links.23038b45 }}" aria-current="page" class="button-link-cover w-inline-block w--current"></a>
            </div>
            <div data-w-id="b4517743-a401-5468-6e37-7df6a4f338d8" class="button-2">
              <div class="button-t">{{ texts.22d456 }}</div>
              <div class="button-cover"></div>
              <a href="{{ links.2c82d05 }}" class="button-link-cover w-inline-block"></a>
            </div>
            <div data-w-id="b4517743-a401-5468-6e37-7df6a4f338dd" class="button-2">
              <div class="button-t">{{ texts.-6e392769 }}</div>
              <div class="button-cover"></div>
              <a href="{{ links.638454f3 }}" class="button-link-cover w-inline-block"></a>
            </div>
            <div data-w-id="b4517743-a401-5468-6e37-7df6a4f338e2" class="button-2">
              <div class="button-t">{{ texts.-6a1ba84c }}</div>
              <div class="button-cover"></div>
              <a href="{{ links.-2a2c5e9d }}" class="button-link-cover w-inline-block"></a>
            </div>
            <div data-w-id="b4517743-a401-5468-6e37-7df6a4f338e7" class="button-2">
              <div class="button-t">{{ texts.253fd2be }}</div>
              <div class="button-cover"></div>
              <a href="{{ links.5e5270da }}" class="button-link-cover w-inline-block"></a>
            </div>
          </nav>
          <div class="div-block-13">
            <a href="{{ links.-2ea49404 }}" class="w-inline-block">{%- image images.-55902513.url, images.-55902513.alt, '[]', 'loading="lazy" class="nav-icon"' -%}</a>
            <a href="{{ links.-791d5ec4 }}" class="w-inline-block">{%- image images.-40bb09c8.url, images.-40bb09c8.alt, '[]', 'loading="lazy" class="nav-icon"' -%}</a>
            <div class="fixed-nav-menu-button w-nav-button">
              <div class="w-icon-nav-menu"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>