<div class="section top-nav wf-section">
    <div class="new-container">
      <div class="div-block-2">
        <div class="text-block">{{ texts.3592bac6 }}<a href="{{ links.327affed }}" class="link">{{ texts.1ffb00d4 }}</a>{{ texts.1ae9d }}<a href="{{ links.-2ea49404 }}" class="link">{{ texts.4b88017 }}</a>{{ texts.45c }}<strong> </strong>{{ texts.-3e1a4378 }}<a href="{{ links.-791d5ec4 }}" target="_top" class="link">{{ texts.6145b134 }}</a>
        </div>
        <div class="div-block-10">
          <a href="{{ links.45b2ada2 }}" target="_blank" class="social-button line w-inline-block">{%- image images.-48df9f8b.url, images.-48df9f8b.alt, '[]', 'width="15" class="social-icon"' -%}</a>
          <a href="{{ links.6c54eb2f }}" target="_blank" class="social-button line w-inline-block">{%- image images.-29dca4cc.url, images.-29dca4cc.alt, '[]', 'class="social-icon"' -%}</a>
          <a href="{{ links.-6e675e26 }}" target="_blank" class="social-button line w-inline-block">{%- image images.-687d1104.url, images.-687d1104.alt, '[]', 'class="social-icon"' -%}</a>
        </div>
      </div>
    </div>
  </div>